@model Web.Joblanes.Models.ViewModel.JobSeekerProfileVm
@Styles.Render("~/Content/bootstrap-datetimepicker")
<div class="panel panel-default">
    <div class="panel-heading"> <h2>Profile</h2></div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "profileForm", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RegionId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.RegionId, (IEnumerable<SelectListItem>)ViewBag.RegionList, "select region", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CountryId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CountryId, (IEnumerable<SelectListItem>)ViewBag.CountryList, "select country", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StateId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.StateId, (IEnumerable<SelectListItem>)ViewBag.StateList, "select state", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CityId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CityId", (IEnumerable<SelectListItem>)ViewBag.CityList, "select city", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ContactNumber, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control numbersOnly" } })
                        @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContactEmail, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10"><span style="font-weight: bold;font-size: larger">Resume Privacy Settings</span></div>

                </div>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <input type="radio" name="privacy" value="1" checked> Your resume will be visible to anyone, in accordance with our terms. Your phone number and email address are only provided to employers you apply to. Your street address is visible only to you.<br>
                        <input type="radio" name="privacy" value="2"> Your resume is not visible. Employers cannot find your resume, but you can attach it when you apply to a job.<br>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="profileBtn" value="Next" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

