@*@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_slider")*@
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    string col = "9";
}
@Html.Partial("_slider")

<div class="main-container">
    <div class="container">
        @Html.Action("FeaturedJobs", "Jobs")
        <div style="clear: both"></div>
    <div class="row">
        <div class="col-sm-3 page-sidebar col-thin-left" style="padding-right: 10px; padding-left: 0px;">
            @Html.Action("JobCategory", "Jobs")
        </div>
        <div class="col-sm-9 no-padding page-content col-thin-right">
            <div class="content-box col-lg-12">
                <div class="row row-featured row-featured-category">
                    <div class="col-lg-12  box-title no-border">
                        <div class="inner">
                            <h2>
                                <span>Latest</span>
                                Jobs <a href="#" class="sell-your-item"> View more <i class="  icon-th-list"></i> </a>
                            </h2>
                        </div>
                    </div>
                    @Html.Action("LatestJob", "Jobs")
                    <div class="tab-box  save-search-bar text-center">
                        <a class="text-uppercase" href="@Url.Action("BrowseJob", "Jobs")"> <i class=" icon-briefcase "></i> View all jobs </a>
                    </div>
                </div>
            </div>
        </div>


    </div>


        <div style="clear: both"></div>
        <div class="col-lg-12 content-box ">
            <div class="row row-featured">
                <div style="clear: both"></div>
                <div class=" relative  content  clearfix">
                    <div class="">
                        <div class="tab-lite">

                            <ul role="tablist" class="nav nav-tabs ">
                                <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="tab1" href="#tab1" aria-expanded="true"><i class="icon-location-2"></i>Top Job Locations</a></li>
                                <li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="tab2" href="#tab2" aria-expanded="false"><i class="icon-briefcase"></i>Top Job Titles</a></li>
                                <li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="tab3" href="#tab3" aria-expanded="false"><i class="icon-commerical-building"></i>Top Companies</a></li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tab1">
                                    <div class="col-lg-12 tab-inner">
                                        <div class="row">
                                            <ul class="cat-list col-sm-3  col-xs-6 col-xxs-12">
                                                <li><a href="#">Atlanta</a></li>
                                                <li><a href="#"> Dallas </a></li>
                                                <li><a href="#"> New York </a></li>
                                                <li><a href="#">Santa Ana/Anaheim </a></li>
                                                <li><a href="#">Wichita </a></li>
                                                <li><a href="#"> Anchorage </a></li>
                                                <li><a href="#"> Miami </a></li>
                                                <li><a href="#">Los Angeles</a></li>
                                            </ul>
                                            <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                <li><a href="#">Boston </a></li>
                                                <li><a href="#">Houston</a></li>
                                                <li><a href="#">Salt Lake City </a></li>
                                                <li><a href="#">Virginia Beach </a></li>
                                                <li><a href="#"> San Diego </a></li>
                                                <li><a href="#">San Francisco </a></li>
                                                <li><a href="#">Tampa </a></li>
                                                <li><a href="#"> Washington DC </a></li>
                                            </ul>
                                            <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                <li><a href="#">Virginia Beach </a></li>
                                                <li><a href="#"> San Diego </a></li>
                                                <li><a href="#">San Francisco </a></li>
                                                <li><a href="#">Tampa </a></li>
                                                <li><a href="#"> Washington DC </a></li>
                                                <li><a href="#">Boston </a></li>
                                                <li><a href="#">Houston</a></li>
                                                <li><a href="#">Salt Lake City </a></li>
                                            </ul>
                                            <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                <li><a href="#">Salt Lake City </a></li>
                                                <li><a href="#">San Francisco </a></li>
                                                <li><a href="#">Tampa </a></li>
                                                <li><a href="#"> Washington DC </a></li>
                                                <li><a href="#">Virginia Beach </a></li>
                                                <li><a href="#"> San Diego </a></li>
                                                <li><a href="#">Boston </a></li>
                                                <li><a href="#">Houston</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab2">
                                    <div class="col-lg-12 tab-inner">
                                        <div class="row">
                                            <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                <li>
                                                    <a href="#">
                                                        Full Time Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Part Time Jobs
                                                        Retail Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Construction Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Marketing Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Accounting Jobs
                                                        Customer Service Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Security Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Engineering Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Maintenance Jobs
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="cat-list col-sm-3  col-xs-6 col-xxs-12">
                                                <li>
                                                    <a href="#">
                                                        Hospitality Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Government Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Medical Assistant Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Nursing Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Pharmacy Assistant Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Data Entry Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Receptionist Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Welding Jobs
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                <li>
                                                    <a href="#">
                                                        Criminal Justice Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        HSE Manager Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Pharmaceutical Sales Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Electrician Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Pharmacy Technician Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Graphic Design Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Homeland Security Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        CNA Jobs
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                <li>
                                                    <a href="#">
                                                        Online Teaching Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Police Officer Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Federal Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Flight Attendant Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Cruise Ship Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Housekeeping Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Working at Home Jobs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Warehouse Work Jobs
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tab3">
                                    <div class="col-lg-12 tab-inner">
                                        <div class="row">
                                            <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                <li>
                                                    <a href="#">
                                                        Aramark Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        AT&T Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Armellini Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Aflac Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Avon Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Aon Service Corporation Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        AmeriBanc National Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        ASML Jobs & Careers
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                <li>
                                                    <a href="#">
                                                        Bankers Life Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Comcast Cable Communications Jobs &
                                                        Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Capgemini Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Combined Insurance Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        CNO Services Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Coca Cola Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Doherty Employment Group Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Enterprise Rent-A-Car Jobs & Careers
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="cat-list col-sm-3  col-xs-6 col-xxs-12">
                                                <li>
                                                    <a href="#">
                                                        General Electric Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Johnson Controls Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Kenan Advantage Group Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Macy's Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        PepsiCo Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Proquire LLC Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Pilot Travel Centers Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        PPG Industries Inc Jobs & Careers
                                                    </a>
                                                </li>
                                            </ul>
                                            <ul class="cat-list cat-list-border col-sm-3  col-xs-6 col-xxs-12">
                                                <li>
                                                    <a href="#">
                                                        Quintiles Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        UPS Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Uline Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Safeway Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Seagate Technology Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Tenet Healthcare Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        TruGreen Jobs & Careers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        UnitedHealth Group Jobs & Careers
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-info hasOverly" style="background-image: url(~/images/jobs/2.jpg);    background-position: center center;  background-size:cover">
    <div class="bg-overly">
        <div class="container text-center section-promo">
            <div class="row">
                <div class="col-sm-3 col-xs-6 col-xxs-12">
                    <div class="iconbox-wrap">
                        <div class="iconbox">
                            <div class="iconbox-wrap-icon">
                                <i class="icon  icon-commerical-building"></i>
                            </div>
                            <div class="iconbox-wrap-content">
                                <h5><span>2200+</span></h5>
                                <div class="iconbox-wrap-text">Companies</div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-3 col-xs-6 col-xxs-12">
                    <div class="iconbox-wrap">
                        <div class="iconbox">
                            <div class="iconbox-wrap-icon">
                                <i class="icon  icon-briefcase"></i>
                            </div>
                            <div class="iconbox-wrap-content">
                                <h5><span>400K+</span></h5>
                                <div class="iconbox-wrap-text">Live Jobs</div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-3 col-xs-6  col-xxs-12">
                    <div class="iconbox-wrap">
                        <div class="iconbox">
                            <div class="iconbox-wrap-icon">
                                <i class="icon  icon-users"></i>
                            </div>
                            <div class="iconbox-wrap-content">
                                <h5><span>3000+</span></h5>
                                <div class="iconbox-wrap-text"> Resume</div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-3 col-xs-6 col-xxs-12">
                    <div class="iconbox-wrap">
                        <div class="iconbox">
                            <div class="iconbox-wrap-icon">
                                <i class="icon icon-doc-1"></i>
                            </div>
                            <div class="iconbox-wrap-content">
                                <h5><span>2000+</span></h5>
                                <div class="iconbox-wrap-text"> Resources</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-bottom-info">
    <div class="page-bottom-info-inner">
        <div class="page-bottom-info-content text-center">
            <h1>
                If you have any questions, comments or concerns, please call Career Services
                at (000) 555-5555
            </h1>
            <a class="btn  btn-lg btn-primary-dark" href="tel:+000000000">
                <i class="icon-mobile"></i> <span class="hide-xs color50">Call Now:</span> (000) 555-5555
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/Jobseekerjs/jobseeker.js"></script>
    }