@model Web.Joblanes.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 page-content">
                <div class="inner-box category-content">
                    <h2 class="title-2"><i class="icon-user-add"></i> Create your account, Its free </h2>
                    @Html.Partial("_message")
                    @if (ViewBag.loginUrl != null && ViewBag.loginUrl == "viewLoginLink")
                    {
                        <h2 style="color:#FFF;"> @Html.ActionLink("Click here to Login", "Login", "Account")</h2>
                    }
                    <div class="row">
                        <div class="col-sm-12">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">@Html.ValidationSummary("", new { @class = "text-danger" })</div>
                                </div>
                                <fieldset>
                                    <div class="form-group required">

                                        @Html.LabelFor(x => x.UserRole, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(x => x.UserRole, (IEnumerable<SelectListItem>)ViewBag.roleList, "Select role", new { @class = "form-control input-md", @required = "required" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(x => x.Name, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-6">

                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-md", @placeholder = "Name" })
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        @Html.LabelFor(x => x.Email, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-md", @placeholder = "Email" })
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        @Html.LabelFor(x => x.Password, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-6">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control  input-md" })
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        @Html.LabelFor(x => x.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-6">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control  input-md" })
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @*<div class="termbox mb10">
                                                    <label class="checkbox-inline" for="checkboxes-1">
                                                        <input name="checkboxes" id="checkboxes-1" value="1" type="checkbox">
                                                        I have read and agree to the <a href="javascript:;">
                                                            Terms
                                                            & Conditions
                                                        </a>
                                                    </label>
                                                </div>*@
                                            <div style="clear:both"></div>

                                            <input type="submit" class="btn btn-primary" value="Register" />
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}