@using Model.JobLanes.Dto
@Styles.Render("~/Content/styledatatable")
@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CompanyTypeDto> companyTypeList = ViewBag.CompanyTypeList;
    List<RegionDto> regionList = ViewBag.RegionList;
    List<CountryDto> countryList = ViewBag.CountryList;
    List<StateDto> stateList = ViewBag.StateList;
    List<CityDto> cityList = ViewBag.CityList;
}
<style type="text/css">
    #inner {
        width: 70%;
        margin: 0 auto;
    }

    .custom {
        width: 200px !important;
    }
</style>

<div id="outer" style="width:100%">
    <div id="inner">

        <div class="row" style="padding-right: 10px;">

            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading custom-panel-h">Job Seeker List</div>

                    <div class="panel-body">

                        <div class="">
                            <table>
                                <tr class="filteringRow form-group">
                                    <th class="form-group">
                                        <select name="CompanyType" id="CompanyType" class="form-control">
                                            <option value="0">All Company Types</option>
                                            @{
                                                foreach (var rl in companyTypeList)
                                                {
                                                    <option value="@rl.Id">@rl.Name</option>
                                                }
                                            }
                                        </select>
                                    </th>

                                    <th class="form-group">
                                        <select name="Region" id="Region" class="form-control">
                                            <option value="0">All Region</option>
                                            @{
                                                foreach (var rl in regionList)
                                                {
                                                    <option value="@rl.Id">@rl.Name</option>
                                                }
                                            }
                                        </select>
                                    </th>
                                    <th class="form-group">
                                        <select name="Country" id="Country" class="form-control">
                                            <option value="0">All Country</option>
                                            @{
                                                foreach (var rl in countryList)
                                                {
                                                    <option value="@rl.Id">@rl.Name</option>
                                                }
                                            }
                                        </select>
                                    </th>

                                    <th class="form-group">
                                        <select name="State" id="State" class="form-control">
                                            <option value="0">All State</option>
                                            @{
                                                foreach (var sl in stateList)
                                                {
                                                    <option value="@sl.Id">@sl.Name</option>
                                                }
                                            }
                                        </select>
                                    </th>

                                    <th class="form-group">
                                        <select name="City" id="City" class="form-control">
                                            <option value="0">All City</option>
                                            @{
                                                foreach (var sl in cityList)
                                                {
                                                    <option value="@sl.Id">@sl.Name</option>
                                                }
                                            }
                                        </select>
                                    </th>
                                </tr>
                                <tr class="filteringRow form-group">
                                    <th class="form-group">
                                        <input id="Name" name="Name" type="text" class="form-control" placeholder="Name" />
                                    </th>
                                    <th class="form-group">
                                        <input id="ContactMobile" name="ContactMobile" type="text" class="form-control" placeholder="Contact Mobile" />
                                    </th>
                                    <th class="form-group">
                                        <input id="Zip" name="Zip" type="text" class="form-control" placeholder="Zip" />
                                    </th>
                                    <th class="form-group">
                                        <select name="Status" id="Status" class="form-control">
                                            <option value="">All</option>
                                            <option value="1">Active</option>
                                            <option value="-1">Inactive</option>
                                        </select>
                                    </th>
                                    <th class="form-group">
                                        <input id="pageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                                    </th>
                                    <th class="form-group">
                                        <input type="button" name="search" id="search" value="View" class="form-control btn-primary" />
                                    </th>

                                </tr>
                            </table>
                            <br />
                            <table id="DataGrid" class="display table table-striped table-bordered table-condensed table-hover table-responsive" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sl.</th>
                                        <th>Company Type</th>
                                        <th>Location</th>

                                        @*<th>Country</th>
                                            <th>State</th>
                                            <th>City</th>*@

                                        <th>Name</th>
                                        <th>Logo</th>
                                        <th>Zip Code</th>
                                        <th>Address</th>
                                        <th>Contact Information</th>
                                        <th>
                                            Status
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script type="text/javascript" src="~/Scripts/bootbox.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Jobseekerjs/CompanySearch.js"></script>

}
