@using SelectListItem = System.Web.WebPages.Html.SelectListItem
@model Model.JobLanes.Dto.JobPostsDto

@{
    ViewBag.Title = "BrowseJob";
    Layout = "~/Views/Shared/_LayoutWide.cshtml";
    string col = "9";
}
@Styles.Render("~/Content/styledatatable")
@Styles.Render("~/Content/bootstrap-multiselect")
<style type="text/css">
    #inner {
        width: 50%;
        margin: 0 auto;
    }

    .custom {
        width: 200px !important;
    }

    .AgeFilter {
        display: none;
    }

    .SalaryFilter {
        display: none;
    }

    .ExpFilter {
        display: none;
    }
</style>
<div class="row">
    <div class="col-md-3 col-sm-3  " role="navigation">
        <div class="panel panel-primary">
            <div class="panel-heading">Job Filtering</div>
            <div class="panel-body">
                <div class="form-horizontal">


                    <div class="form-group">
                        <div class="col-md-12">
                            <span>Job Category</span>
                            @Html.DropDownList("jobCat", (IEnumerable<System.Web.Mvc.SelectListItem>)ViewBag.JobCategory, new { @class = "form-control", @id = "jobCat", @multiple = "multiple" })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            <span>Job Type</span>
                            @Html.DropDownList("jobTyp", (IEnumerable<System.Web.Mvc.SelectListItem>)ViewBag.jobType, new { @class = "form-control", @id = "jobTyp", @multiple = "multiple" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label class="">
                                    <input class="isAgeFilter" value="" type="checkbox"> Filter Result with age
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="AgeFilter">
                        <span> Age Range</span>
                        <div class="form-group">

                            <div class="col-md-6">
                                <input type="text" class="form-control numbersOnly" id="minAge" placeholder="Min. Age">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control numbersOnly" id="maxAge" placeholder="Max. Age">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label>
                                    <input class="isExpFilter" value="" type="checkbox"> Filter Result with Experience
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="ExpFilter">
                        <span> Experience Range</span>
                        <div class="form-group">

                            <div class="col-md-6">
                                <input type="text" class="form-control numbersOnly" id="minExp" placeholder="Min. Exp">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control numbersOnly" id="maxExp" placeholder="Max. Exp">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <label>
                                    <input class="isSalaryFilter" value="" type="checkbox"> Filter Result with Salary
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="SalaryFilter">
                        <span> Salary Range</span>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="text" class="form-control numbersOnly" id="minSalary" placeholder="Min. Salary">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control numbersOnly" id="maxSalary" placeholder="Max. Salary">
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" class="btn btn-primary col-md-offset-5" id="filter" value="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-9  col-sm-9">
        <div class="panel panel-primary">
            @*<div class="panel-heading custom-panel-h"> Company Profile</div>*@
            <div class="panel-body">
                <div class="row no-margin">
                    <table>
                        <tr class="form-group">
                            <th>&nbsp;</th>
                            @if (ViewBag.what != null)
                            {
                                <th class="form-group">
                                    <span>What</span>
                                    <input type="text" class="form-control" id="what" value="@ViewBag.what" placeholder="type desired jobs" />
                                </th>
                            }
                            else
                            {
                                <th class="form-group">
                                    <span>What</span>
                                    <input type="text" class="form-control" id="what" placeholder="type desired jobs" />
                                </th>
                            }
                            @if (ViewBag.where != null)
                            {

                                <th class="form-group">
                                    <span>Where</span>
                                    <input type="text" class="form-control" id="where" value="@ViewBag.where" placeholder="city state or joblocation" />
                                </th>
                            }
                            else
                            {

                                <th class="form-group">
                                    <span>Where</span>
                                    <input type="text" class="form-control" id="where" placeholder="city state or joblocation" />
                                </th>
                            }
                            @*<th class="form-group">
                                    @Html.DropDownList("jobCategoryId", (IEnumerable<SelectListItem>)ViewBag.JobCategory, "--Category--", new { @class = "form-control" })
                                </th>*@
                            <th class="form-group">
                                <span>&nbsp;</span>
                                <input id="PageSize" name="displayPerPage" type="text" class="form-control" placeholder="DisplayPerPage" value="@ViewBag.PageSize" />
                            </th>
                            <th class="form-group">
                                <span>&nbsp;</span>
                                <input type="button" name="search" id="search" value="Show" class="form-control btn btn-primary" />
                            </th>
                        </tr>
                    </table>
                    <br />
                    <table id="DataGrid" class="table table-hover table-responsive table-inverse table-search table-striped table-td-valign-middle" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/bootstrap-multiselect")
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/Jobseekerjs/jobseeker.js"></script>
    <script type="text/javascript">
        function dataTableRender() {
            var pageSize = 10;
            if ($('#PageSize').val() != "" && /^\d+$/.test($('#PageSize').val())) {
                pageSize = parseInt($('#PageSize').val());
            } else {
                $('#PageSize').val(pageSize);
            }
            $('#DataGrid').dataTable({
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                "scrollX": true,
                "bLengthChange": false,
                "iDisplayLength": pageSize,
                "bSort": false,
                ajax: {
                    url: '@Url.Action("BrowseJobPost", "Jobs")',
                    type: 'POST',
                    data: function (d) {
                        d.what = $("#what").val();
                        d.where = $("#where").val();
                        d.ageRangeFrom = $("#minAge").val();
                        d.ageRangeTo = $("#maxAge").val();
                        d.expRangeFrom = $("#minExp").val();
                        d.expRangeTo = $("#maxExp").val();
                        d.salaryRangeFrom = $("#minSalary").val();
                        d.salaryRangeTo = $("#maxSalary").val();
                        d.company = null;
                        d.jobCategory = $("#jobCat").val(),
                            d.jobType = $("#jobTyp").val();

                    }
                }
            });
        }

        //function muliselectfnc(holder) {
        //    $(holder).multiselect({
        //        enableFiltering: true,
        //        includeSelectAllOption: true,
        //        numberDisplayed: 2,
        //        maxHeight: 500,
        //        buttonWidth: '100%',
        //        nonSelectedText: 'All'
        //    });
        //    }

        //$(document).ready(function () {
        //    muliselectfnc($('#jobCat'));
        //    muliselectfnc($('#jobTyp'));
        //});

        $(document).ready(function () {
            $(document).on("click", ".isAgeFilter", function () {
                if ($(".isAgeFilter").prop("checked") == true) {
                    $(".AgeFilter").show();
                } else {
                    $(".AgeFilter").hide();
                    $("#minAge").val("");
                    $("#maxAge").val("");
                    dataTableRender();
                }
            });
            $(document).on("click", ".isExpFilter", function () {
                if ($(".isExpFilter").prop("checked") == true) {
                    $(".ExpFilter").show();
                } else {
                    $(".ExpFilter").hide();
                    $("#minExp").val("");
                    $("#maxExp").val("");
                    dataTableRender();
                }
            });
            $(document).on("click", ".isSalaryFilter", function () {
                if ($(".isSalaryFilter").prop("checked") == true) {
                    $(".SalaryFilter").show();
                } else {
                    $(".SalaryFilter").hide();
                    $("#minSalary").val("");
                    $("#maxSalary").val("");
                    dataTableRender();
                }
            });
            // .isExpFilter .isSalaryFilter
            dataTableRender();
            $(document).on("click", "#filter", function () {
                dataTableRender();
            });
            $(document).on("click", "#search", function () {
                dataTableRender();
            });
        });

    </script>
}
